.details__div {
    background-color: black;
    color: white;
    padding: 2rem;
}

.details {
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
    /* tex: center; */
    font-size: 20px;
}

.heading {
    color: #05b3a4;
}