.home__container {
    width: 100%;
    background-color: red;
    height: 1000px;
    background: url('../../assets/bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home__btn {
    background: transparent;
    color: white;
    padding: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
    background-color: rgb(84, 84, 70);
    width: 30%;
    opacity: .6;
    text-decoration: none;
}

.home__section h1 {
    /* margin: 0px; */
    color: white;
    font-size: 6rem;
}

.home__section {
    display: flex;
    justify-content: left;
    align-items: center;
    /* background: red; */
    height: 60%;
}

.home__content {
    /* background: #79839a59; */
    padding: 1rem;
    border-radius: 1rem;
    margin: 3rem;
}